*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}


.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: #bebebe;

}

h1 {
    font-size: 1.9rem;
    margin-bottom: 5rem;
    color: solid #333;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin-bottom: 5rem;

}


.box{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: solid #333;
    font-size: 1rem;
    border: 1px solid #888;
    cursor: pointer;

}

.form{
    margin-top: 3rem;


}

input{
    font-size: 1rem;
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #888;

}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #333;
    background: #bebebe;
    color: solid #888;
    cursor: pointer;

} 


